@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    --main-color: #088178
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transform: 0.2s;
}

button.white {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transform: 0.2s;
}

body {
    width: 100%;
}

/* Header Start */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #E3E6F3;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transform: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: var(--main-color);
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* #mobile a{
    position: relative;
}

#mobile a.active{
    color: var(--main-color);
}

#mobile a.active::after {
    content: '';
    width: 50%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 20px;

} */

/* Header End */


/* Home page Start */
#hero {
    background-image: url("../img/hero4.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color:var(--main-color)
}

#hero button {
    background-image: url("../img/button.png");
    background-color: transparent;
    color: var(--main-color);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
}

#feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#feature .feature-box {
    text-align: center;
    width: 180px;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px;
}

#feature .feature-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .feature-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: var(--main-color);
    background-color: #fddde4;
}

#feature .feature-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .feature-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .feature-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .feature-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .feature-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#feature .feature-box img {
    width: 100%;
    margin-bottom: 10px;
}

#products1 {
    text-align: center;
}

#products1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#products1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#products1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#products1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#products1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#products1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#products1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#products1 .pro .des i {
    font-size: 12px;
    color: rgba(243, 181, 25);
}

#products1 .pro .des i.rating-bad {
    color: #e1e1e1;
}

#products1 .pro .des h4 {
    padding-top: 14px;
    font-size: 15px;
    font-weight: 700;
    color: var(--main-color);
}

#products1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: var(--main-color);
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}

#banner button:hover {
    background: var(--main-color);
    color: #fff;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

#md-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;

}

#md-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#md-banner h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#md-banner h3 {
    color: #ef3636;
    font-weight: 900;
    font-size: 15px;
}

#news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('../img/banner/b14.png');
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#news h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#news p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#news p span {
    color: rgb(255, 213, 0);
}

#news form {
    display: flex;
    width: 40%;
}

#news input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}

#news button {
    background-color: var(--main-color);
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .footer-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    text-decoration: none;
    color: #222;
    font-size: 13px;
    margin-bottom: 10px;
}

footer .social {
    margin-top: 20px;
}

footer .social i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .app .footer-row img {
    border: 1px solid var(--main-color);
    border-radius: 6px;
}

footer .app img {
    margin: 10px 0 15px 0;
}

footer .social i:hover,
footer a:hover {
    color: var(--main-color);
}

#mobile {
    display: none;
    align-items: center;
}

#close-navbar {
    display: none;
}

/* Home page End */

/* Shop page Start */
#page-header {
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    padding: 14px;
}

#page-header h2 {
    color:#fff;
}

#page-header p {
    color:#fff;
}

#pagnation {
    text-align: center;
}

#pagnation a {
    text-decoration: none;
    background-color: #fff;
    padding: 15px 15px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-weight: 600;
}

#pagnation a:hover {
    text-decoration: none;
    background-color: var(--main-color);
    padding: 15px 15px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagnation a i {
    font-size: 16px;
    font-weight: 600;
}


/* Shop page End */

/* Product page Start */

.pro-detail {
    display: flex;
    margin-top: 20px;
}

.pro-detail .img-container {
    width: 40%;
    margin-right: 50px;
}

.pro-detail .small-img-group {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.pro-detail .small-img-container {
    flex-basis: 24%;
    cursor: pointer;
}

.pro-detail .detail-container {
    width: 50%;
    padding-top: 30px;

}

.pro-detail .detail-container h4 {
    padding: 40px 0 20px 0;
}

.pro-detail .detail-container form {
    margin-top: 30px;
}

.pro-detail .detail-container select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.pro-detail .detail-container input {
    width: 50px;
    height: 50px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 10px;
}

.pro-detail .detail-container input:focus {
    outline: none;
}

.pro-detail .detail-container button {
    background-color: var(--main-color);
    color: #fff;
}

.pro-detail .detail-container p {
    line-height: 25px;
}

.pro-detail .pro-path-mobile {
    display: none;
}

/* Product page End */

/* Blog page Start */
#blog-container {
    padding: 150px 150px 0 150px;
}

#blog-container .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog-container .blog-box .img-container {
    width: 50%;
    margin-right: 50px;
}

#blog-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog-container .text-container {
    width: 50%;
}

#blog-container .text-container a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

#blog-container .text-container a:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #000;
    top: 4px;
    right: -60px;
    cursor: pointer;
}

#blog-container .text-container a:hover {
    color: var(--main-color);
}

#blog-container .text-container a:hover:after {
    background-color: var(--main-color);
}

#blog-container .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}


/* Blog page End */

/* About page Start */

#about-header {
    display: flex;
    align-items: center;
}

#about-header img{
    width: 50%;
    height: auto;
}

#about-header .text-container {
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app .app-video {
    padding-top: 30px;
    width: 70%;
    margin: 30px auto 0 auto;
}

#about-app video {
    width: 100%;
    border-radius: 20px;
}

/* About page End */

/* Contact page Start */

#contact-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#contact-header .text-container {
    width: 40%;
}

#contact-form form span,
#contact-header .text-container span {
    font-size: 12px;
}

#contact-form form h2,
#contact-header .text-container h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-header .text-container h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-header .text-container li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-header .text-container li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-header .text-container li p{
    margin: 0;
    font-size: 14px;
}

#contact-header .map-container {
    width: 55%;
    height: 400px;
}

#contact-header .map-container iframe {
    width: 100%;
    height: 100%;
}

#contact-form {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#contact-form form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact-form form input,
#contact-form form textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid #e1e1e1;
}

#contact-form form button {
    background-color: var(--main-color);
    color: #fff;
}

#contact-form .contact-employee div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#contact-form .contact-employee div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#contact-form .contact-employee div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#contact-form .contact-employee div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* Contact page End */

/* Cart page Start */

#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    font-size: 13px;
    padding-top: 15px;
}

#cart-total {
    display: flex;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#total h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#total button {
    background-color: var(--main-color);
    color: #fff;
    padding: 12px 20px;
}

#total {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#total table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#total table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

#total input {
    font-weight: bold;
    border: 0px solid;
    outline: none;
}

/* Cart page End */

/* Login page Start */
#login {
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

#login .form-container {
    width: 100%;
}

#login .form-container h1 {
    margin-bottom: 10px;
}

#login form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#login form input {
    width: 50%;
    line-height: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-color: #e1e1e1;
    border-radius: 15px;
    border: none;
    outline: none;
}

#login form button {
    width: 50%;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: #fff;
}

#login form button:hover {
    background-color: #fff;
    color: var(--main-color);
}

/* Login page End */

/* Register page Start */

#register {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#register .form-container {
    width: 100%;
}

#register form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#register form input {
    width: 50%;
    line-height: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-color: #e1e1e1;
    border-radius: 15px;
    border: none;
    outline: none;
}

#register form button {
    width: 50%;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: #fff;
}

#register form button:hover {
    background-color: #fff;
    color: var(--main-color);
}

#register form .gender-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0 0 0;
}

#register form .gender-container div {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

/* Register page End */

/* Media query Start */
@media (max-width: 799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close-navbar {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #not-mobile-bag {
        display: none;
    }

    /* Home page Start */

    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }

    #feature {
        justify-content: center;
    }

    #feature .feature-box {
        margin: 15px 15px;
    }

    #products1 .pro-container {
        justify-content: center;
    }

    #products1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
    }

    #md-banner {
        padding: 0 40px;
    }

    #md-banner .banner-box{
        width: 28%;
    }

    #news form {
        width: 70%;
    }

    /* Home page End */

    /* Product page Start */



    /* Product page End */

    /* Blog page Start */
    
    #blog-container {
        padding: 100px 20px 0 20px;
    }

    /* Blog page End */
    
    /* Contact page Start */

    #contact-form {
        padding: 40px;
    }

    #contact-form form {
        width: 50%;
    }

    /* Contact page End */

    /* Login page Start */
    
    #login form input,
    #login form button {
        width: 100%;
    }

    /* Login page End */

    /* Register page Start */

    #register form input,
    #register form button {
        width: 100%;
    }

    /* Register page End */
}

@media (max-width: 476.98px) {
    .section-p1 {
        padding: 20px;
    }
    
    header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    /* Home page Start */

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .feature-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #products1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #md-banner {
        padding: 0 20px;
    }

    #md-banner .banner-box {
        width: 100%;
    }

    #news {
        padding: 40px 20px;
    }

    #news form {
        width: 100%;
    }

    /* Home page End */

    /* Product page Start */
    .pro-detail {
        display: flex;
        flex-direction: column;
    }

    .pro-detail .img-container {
        margin-right: 0px;
        width: 100%;
    }

    .pro-detail .detail-container {
        margin-left: 1px;
        width: 100%;
    }

    .pro-detail .pro-path-mobile {
        display: initial;
        margin-bottom: 5px;
    }

    .pro-detail .pro-path {
        display: none;
    }

    /* Product page End */

    /* Blog page Start */

    #blog-container {
        padding: 100px 20px 0 20px;
    }

    #blog-container .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog-container .blog-box .img-container {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog-container .blog-box .text-container {
        width: 100%;
    }


    /* Blog page End */

    /* About page Start */
    #about-header {
        display: flex;
        flex-direction: column;
    }

    #about-header img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-header .text-container {
        padding-left: 0px;
    }

    #about-app .app-video {
        width: 100%;
    }

    /* About page End */

    /* Contact page Start */

    #contact-header {
        display: flex;
        flex-direction: column;
    }

    #contact-header .text-container {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-header .map-container {
        width: 100%;
    }

    #contact-form {
        flex-wrap: wrap;
        margin: 10px;
        padding: 30px 10px;
    }

    #contact-form form {
        width: 100%;
        margin-bottom: 30px;
    }

    #cart-total {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #total {
        width: 100%;
        padding: 20px;
    }

    /* Contact page End */
}


/* Media query End */